# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.zip
.vs/Starship/FileContentIndex/8ef44916-e00c-42fa-9118-3245f3f1cc6d.vsidx
.vs/Starship/FileContentIndex/91f9d52b-1b9b-4df3-8120-3fd703e403ff.vsidx
.vs/Starship/v17/Browse.VC.db
.vs/Starship/v17/Browse.VC.db-shm
.vs/Starship/v17/Browse.VC.db-wal
.vs/Starship/v17/Browse.VC.opendb
.vs/Starship/v17/ipch/AutoPCH/78d57604a99a644d/GAME.ipch
.vs/Starship/v17/Solution.VC.db-shm
.vs/Starship/v17/Solution.VC.db-wal
Temporary/Engine_x64_Debug/Engine.tlog/Cl.items.tlog
Temporary/Engine_x64_Release/Engine.Build.CppClean.log
Temporary/Engine_x86_Debug/Engine.Build.CppClean.log
Temporary/Engine_x86_Debug/Engine.tlog/Cl.items.tlog
Temporary/Engine_x86_Release/Engine.Build.CppClean.log
Temporary/Engine_x86_Release/Engine.tlog/Cl.items.tlog
Temporary/Starship_x64_Debug/Starship.tlog/Cl.items.tlog
Temporary/Starship_x64_Debug/Starship.tlog/link.secondary.1.tlog
Temporary/Starship_x64_Debug/vc143.idb
Temporary/Starship_x64_Debug/vc143.pdb
Temporary/Starship_x64_Release/Starship_Release_x64.Build.CppClean.log
Temporary/Starship_x86_Debug/Starship.tlog/Cl.items.tlog
Temporary/Starship_x86_Debug/Starship.tlog/link.secondary.1.tlog
Temporary/Starship_x86_Debug/Starship_Debug_x86.Build.CppClean.log
Temporary/Starship_x86_Debug/vc143.idb
Temporary/Starship_x86_Debug/vc143.pdb
Temporary/Starship_x86_Release/Starship.tlog/Cl.items.tlog
Temporary/Starship_x86_Release/Starship.tlog/link.secondary.1.tlog
Temporary/Starship_x86_Release/Starship_Release_x86.Build.CppClean.log
Temporary/Starship_x86_Release/vc143.pdb
.vs/Starship/v17/Browse.VC.db
.vs/Starship/v17/.suo
.vs/Starship/v17/Browse.VC.db
.vs/Starship/v17/DocumentLayout.json
Run/Starship_Release_x64.exe
Temporary/Engine_x64_Release/Engine.lib
Temporary/Engine_x64_Release/Engine.log
Temporary/Engine_x64_Release/Engine.pdb
Temporary/Engine_x64_Release/Engine.tlog/CL.command.1.tlog
Temporary/Engine_x64_Release/Engine.tlog/Cl.items.tlog
Temporary/Engine_x64_Release/Engine.tlog/CL.read.1.tlog
Temporary/Engine_x64_Release/Engine.tlog/CL.write.1.tlog
Temporary/Engine_x64_Release/Engine.tlog/Lib-link.read.1.tlog
Temporary/Engine_x64_Release/Engine.tlog/Lib-link.write.1.tlog
Temporary/Engine_x64_Release/Engine.tlog/Lib.command.1.tlog
Temporary/Starship_x64_Release/Game.log
Temporary/Starship_x64_Release/Starship.tlog/link.read.1.tlog
Temporary/Starship_x64_Release/Starship_Release_x64.exe
Temporary/Starship_x64_Release/Starship_Release_x64.iobj
Temporary/Starship_x64_Release/Starship_Release_x64.pdb
.vs/Starship/v17/.suo
.vs/Starship/v17/Browse.VC.db
.vs/Starship/v17/DocumentLayout.json
Run/Starship_Release_x64.exe
Temporary/Engine_x64_Release/Engine.lib
Temporary/Engine_x64_Release/Engine.log
Temporary/Engine_x64_Release/Engine.pdb
Temporary/Engine_x64_Release/Engine.tlog/CL.command.1.tlog
Temporary/Engine_x64_Release/Engine.tlog/Cl.items.tlog
Temporary/Engine_x64_Release/Engine.tlog/CL.read.1.tlog
Temporary/Engine_x64_Release/Engine.tlog/CL.write.1.tlog
Temporary/Engine_x64_Release/Engine.tlog/Lib-link.read.1.tlog
Temporary/Engine_x64_Release/Engine.tlog/Lib-link.write.1.tlog
Temporary/Engine_x64_Release/Engine.tlog/Lib.command.1.tlog
Temporary/Starship_x64_Release/Game.log
Temporary/Starship_x64_Release/Starship.tlog/link.read.1.tlog
Temporary/Starship_x64_Release/Starship_Release_x64.exe
Temporary/Starship_x64_Release/Starship_Release_x64.iobj
Temporary/Starship_x64_Release/Starship_Release_x64.pdb
.vs/Starship/v17/Browse.VC.db
/.vs/Starship/v17
*.db
